header{
  background: #ff8523;
  padding: 15px 15px;
  margin-bottom: 5px;
  padding-bottom: 40px;
}

font{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.main_navigation{
  margin-top: 20px;
}

.main_navigation a{
  color: white;
  border: 1px solid white;
  padding: 2px 20px;
  margin: 10px 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 15%;
}

body > div{
  border-radius: 5px;
  border: 1px solid #ffd24a;
  background-color: white;
}

body{
  padding: 10px;
  background-image: url(/Users/javi/ironYard/css_styling_assessment/starter_files/img/bg.jpg);
}

h2{
  font-weight: bold;
  color: #1fabe5;
}

div a{
  color: #1fabe5;
}

h3{
  font-weight: bold;
  color: #1fabe5;
}

ul{
  font-weight: bold;
}

section table{
  border-collapse: collapse;
  padding-bottom: : 20px;
  width: 100%;

}

thead{
  color: white;
  background: #1fabe5;
  font-weight: 400;
  padding-left: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: small;
}

thead td{
  border: 1px solid #046c97;
  padding: 20px;
  margin: 1px
  text-align: center;

}

tbody{
  color: black;
  background: white;
  font-weight: 400;
  text-align: center;

}

tbody td{
  border: 1px solid #046c97;
  padding: 2px;
  margin: 1px;
}

form{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background: #eee;
  }



div .name{
  background: #ff8523;
  color: white;
  padding: 20px 10px;
  border-radius: 10px;
  font-family: sans-serif;
  }

  div .city_container{
    padding: 10px 0;
    font-weight: 600;
    font-family: sans-serif;
    font-size: small;
  }

label[for="bio"]{
  padding: 5px;
    font-family: sans-serif;
    font-size: small;
    font-weight: 600
}

#submit_button{
   background: #1fabe5;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font-family: sans-serif;
}
/*

font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
